<!--The content below is only a placeholder and can be replaced.-->
<<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
  enabled. Please enable
  Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
  <div class="row">
     <div class="col-md-6">
      <form class="form-inline">
        <div class="form-group">
          <label for="id">Image ID</label>
          <input type="text" [(ngModel)]="image.id" class="form-control" name="id"> <br>
        </div>
        <button (click)="sendMessage()" class="btn btn-default" type="submit">Send</button>
      </form>
    </div>

    <p> {{ response }}</p>
  </div>
  <div class="chat-content">
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let notification of webSocketService.notifs">
          <span>{{notification.message}}</span>
        </li>
      </ul>
    </div>
  </div>

</div>

